/* THIS IS WHERE ALL THE STYLING WILL BE DONE */
@font-face {
    font-family: 'Poppins';
    src: url('Poppins/Poppins-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Poppins';
    src: url('Poppins/Poppins-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 200;
    src: url('Poppins/Poppins-ExtraLight.ttf') format('truetype');
  }
  
  @font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    src: url('Poppins/Poppins-Light.ttf') format('truetype');
  }
  
  @font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    src: url('Poppins/Poppins-Regular.ttf') format('truetype');
  }
  
  @font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    src: url('Poppins/Poppins-Medium.ttf') format('truetype');
  }
  
  @font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    src: url('Poppins/Poppins-SemiBold.ttf') format('truetype');
  }
  
  @font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    src: url('Poppins/Poppins-Bold.ttf') format('truetype');
  }
  
  @font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 800;
    src: url('Poppins/Poppins-ExtraBold.ttf') format('truetype');
  }

  @font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 900;
    src: url('Poppins/Poppins-Black.ttf') format('truetype');
  }
  
  @font-face {
    font-family: 'Poppins';
    font-style: italic;
    font-weight: 100;
    src: url('Poppins/Poppins-ThinItalic.ttf') format('truetype');
  }
  
  @font-face {
    font-family: 'Poppins';
    font-style: italic;
    font-weight: 200;
    src: url('Poppins/Poppins-ExtraLightItalic.ttf') format('truetype');
  }
  
  @font-face {
    font-family: 'Poppins';
    font-style: italic;
    font-weight: 300;
    src: url('Poppins/Poppins-LightItalic.ttf') format('truetype');
  }
  
  @font-face {
    font-family: 'Poppins';
    font-style: italic;
    font-weight: 400;
    src: url('Poppins/Poppins-Italic.ttf') format('truetype');
  }
  
  @font-face {
    font-family: 'Poppins';
    font-style: italic;
    font-weight: 500;
    src: url('Poppins/Poppins-MediumItalic.ttf') format('truetype');
  }
  
  @font-face {
    font-family: 'Poppins';
    font-style: italic;
    font-weight: 600;
    src: url('Poppins/Poppins-SemiBoldItalic.ttf') format('truetype');
  }
  
  @font-face {
    font-family: 'Poppins';
    font-style: italic;
    font-weight: 700;
    src: url('Poppins/Poppins-BoldItalic.ttf') format('truetype');
  }
  
  @font-face {
    font-family: 'Poppins';
    font-style: italic;
    font-weight: 800;
    src: url('Poppins/Poppins-ExtraBoldItalic.ttf') format('truetype');
  }
  
  @font-face {
    font-family: 'Poppins';
    font-style: italic;
    font-weight: 900;
    src: url('Poppins/Poppins-BlackItalic.ttf') format('truetype');
  }
  
  :root {

    --blue: #00b8b8;
    --black: #333;
    --white: #fff;
    --light-color: #666;
    --border: .2rem solid rgba(0, 0, 0, .1);
    --box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0, .1);


    --header-height: 3.5rem;

    /*========== Colors ==========*/
    /*Color mode HSL(hue, saturation, lightness)*/
    --first-color: hsl(207, 65%, 65%);
    --title-color: hsl(207, 4%, 16%);
    --text-color: hsl(207, 4%, 28%);
    --text-color-light: hsl(207, 4%, 56%);
    --body-color: hsl(207, 4%, 99%);
    --container-color: hsl(207, 4%, 95%);

    /* Change the first number */
    /* Blue: 207 - Purple: 250 - Pink: 356 - Teal: 174 */
    --gradient-color: linear-gradient(180deg,
                        hsla(207, 48%, 72%, 0),
                        hsla(207, 65%, 65%, 1));

    /*========== Font and typography ==========*/
    /*.5rem = 8px | 1rem = 16px ...*/
    --body-font: 'Poppins', sans-serif;
    --title-font: 'Poppins', sans-serif;
    --biggest-font-size: 1.5rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1rem;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;
    --smaller-font-size: .75rem;
    --tiny-font-size: .625rem;

      /*========== Font weight ==========*/
    --font-medium: 500;
    --font-semi-bold: 600;

    /*========== z index ==========*/
    --z-normal: 1;
    --z-tooltip: 10;
    --z-fixed: 100;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
}

body {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: antiquewhite;
  color: var(--text-color);
}


img {
  width: 100%;
}


/* .about-content h2 {
  text-decoration: underline;
} */


/* heading section  */

.heading {
  text-align: center;
  font-size: 2rem;
  /* color: #fff; */
  text-transform: uppercase;
  font-weight: bolder;
  margin-bottom: 2rem;
}

.heading .asi {
  color: black;
}

.btn {
  display: inline-block;
  background: none;
  border: 2px solid #fff;
  border-radius: .5rem;
  padding: .6rem 1rem;
  font-size: 14px;
  cursor: pointer;
  font-weight: bold;
  text-decoration: none;
  margin-top: 1.6rem;
  color: #fff;
  box-shadow: 7px 7px 7px hsla(0, 0%, 4%, 0.3);
}

.btn:hover {
  background-color: #000;
  color: black;
}

.link-btn:hover {
  background-color: var(--black);
  color: var(--white);
}

.header {
  padding: .7rem;
  border-bottom: var(--border);
  background-color: #fff;
  left: 0;
  right: 0;
}
  
.header.active {
    box-shadow: 0 0 24px rgba(0, 0, 0, 0.15); /* pass */
    border: 0;
}

.header .logo {
    font-size: 1.3rem;
    color: var(--black);
}

.header .logo span {
    color: var(--blue);
}


.header .nav a {
  margin: 1rem;
  font-size: 1rem;
  color: var(--black);
}


.header .nav a:hover {
    color: var(--blue);
}

.actions {
  /* background-color: red; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 2rem;
}

.papi {
  font-size: 1.3rem;
  color: var(--black);
  cursor: pointer;
}

#menu-btn {
  font-size: 1.5rem;
  color: var(--black);
  cursor: pointer;
  display: none;
  /* margin-left: 12px; */
  margin-right: 15px;
}


  /* heading section ends  */


  /* home section begins  */

.home {
  background-size: cover;
  background-position: center;
  background-image: radial-gradient(
    circle 610px at 4.2% 51%,
    rgb(213, 37, 192) 9%,
    rgb(59, 1, 55) 89%
  );
  overflow: hidden;
}

.home .content {
  width: 35rem;
  padding: 1rem;
}

.home .content h3 {
  font-size: 2.2rem;
  text-transform: uppercase;
  color: #fff;

}

.home .content p {
  line-height: 1.7;
  font-size: 1.1rem;
  color: #f9d7ff;
  padding: 1rem 0;
}


/* home section ends  */

/* ad section starts  */

img {
  max-width: 100%;
  height: auto;
}


/*=============== REUSABLE CSS CLASSES ===============*/
.area {
  max-width: 968px;
  margin-left: var(--mb-1-5);
  margin-right: var(--mb-1-5);
}

.grid {
  display: grid;
}

.area-box {
  overflow: hidden;
}

.area-of {
  padding: 4.5rem 0 1rem;
}



 /*=============== MESSAGE ===============*/

 /* .area-box {
  background-color: rgb(253, 222, 181);
 }
 

.message__container {
  row-gap: 3rem;
  background-image: radial-gradient(
    circle 610px at 4.2% 51%,
    rgb(213, 37, 192) 9%,
    rgb(59, 1, 55) 89%
  );
  padding: 3rem 2rem 3rem;
  border-radius: 1.25rem;
  margin: 1.2rem;
}

.blocking-dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: red;
    display: inline-block;
    margin-left: 5px;
}


.message__div {
  text-align: center;
}

.message__title {
  font-size: 1rem;
  margin-right: 20px;
  color: #fff;
  margin-bottom: var(--mb-1-5);
}

.message__title span {
  color: rgb(254, 225, 80);
}


.message__button {
  background-color: rgb(255, 253, 255);
  border: 3px solid rgb(232, 42, 219);
  box-shadow: 7px 7px 7px hsla(0, 0%, 4%, 0.3);
  padding: 7px;
  width: 100%;
}

.message__button:hover {
  background-color: var(--title-color);
}

.message__img {
  width: 180px;
  justify-self: center;
}

.discount-container .countdown-timer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 7rem;
}

.countdown-timer {
  display: flex;
  flex-direction: column;
}


.countdown-timer .group {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6px;
  padding: 15px;
  color: #fff;
}

.countdown-timer .value {
  border: 2px solid rgb(232, 42, 219);
  background: #fff;
  color: rgb(174, 6, 163);
  box-shadow: 7px 7px 7px hsla(0, 0%, 4%, 0.3);
  font-size: 20px;
  font-weight: bold;
  width: 42px;
  padding: 8px;
  text-align: center;
  border-radius: 4px;
}

.countdown-timer .unit {
  font-size: 16px;
} */


/* about section starts  */
.heading {
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  margin: 20px ;
}


.heading h3 {
    font-size: 1.2rem;
    color: #000;
    /* margin-top: 25px; */
    position: relative;    
    margin-bottom: 35px;
}

/* .heading h3::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 4px;
    display: block;
    margin: 0 auto;
    background-color: #4caf50;
} */


.container {
    width: 90%;
    margin: 0 auto;
    padding: .1px 25px;
}

.about {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

}

.about1 {
    background-color: white;
}



.about-image {
  flex: 1;
  margin-right: 40px;
  margin-bottom: 4rem;
  overflow: hidden;
}

.about-image img {
    max-width: 100%;
    height: auto;
    display: block;
    transition: 0.5s ease;
    border-radius: 12px;
    cursor: pointer;
}

.about-image:hover img {
    transform: scale(1.1);
} 


.about-content {
    flex: 1.3; /* change */
}

.about-content .p {
  color: black;
}

.about-content h2 {
    font-size: 25px;
    margin-bottom: 15px;
    color: #333;
}

.about-content p {
    width: 110%;
    font-size: 1.2rem;
    line-height: 1.5;
}


.about-content .read-more {
  display: inline-block;
  background: none;
  border: 2px solid black;
  border-radius: .5rem;
  padding: .6rem 1rem;
  font-size: 14px;
  cursor: pointer;
  font-weight: bold;
  text-decoration: none;
  margin-top: 1.6rem;
  color: black;
  box-shadow: 7px 7px 7px hsla(0, 0%, 4%, 0.2);
}

.about-content .read-more:hover {
    background-color: rgb(167, 1, 156);
    color: white;
}

  /* about section ends  */


/* services section starts  */


.services {
  /* background-color: rgb(251, 244, 244); */
  background-color: antiquewhite;
}

.services .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 2rem;
  
}

/* .services .heading .h7 {
  font-size: 1.8rem;
  margin-top: 85rem;   
  margin-bottom: 10px;
} */


.services .box-container .box {
  text-align: center;
  padding: 2rem;
  background-color: var(--white);
  box-shadow: 0 0 24px rgba(0, 0, 0, 0.15);
  border-radius: 12px;
}

.services .box-container .box i {
  /* margin: 1rem 0;
  height: 1.6rem;
  width: 10rem; */
  /* background-color: #00b8b8; */
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  color: #222;
  padding: 1rem;
}

.services .box-container .box h2 {
  font-size: 2rem;
  padding: 1rem 0;
  color: var(--black);
  /* font-weight: bold; */
}

.services .box-container .box p {
  font-size: 1.5rem;
  color: var(--black);
  line-height: 2;
}

/* services section ends  */

/* events start  */
  .new__description {
    margin-top: 2rem;
    color: var(--title-color);
    font-weight: var(--font-semi-bold);
  }

  .jerican {
    max-width: 968px;
    margin-left: var(--mb-1-5);
    margin-right: var(--mb-1-5);
  }

  .News {
    overflow: hidden;
    background-image: radial-gradient(
      circle 610px at 4.2% 51%,
      rgb(213, 37, 192) 9%,
      rgb(59, 1, 55) 89%
    );
  }

  .program {
    padding: 4.5rem 0 1rem;
  }

  .program__title {
    font-size: var(--h2-font-size);
    margin-bottom: var(--mb-2-5);
    text-align: center;
    margin: 2rem;
    color: white;
  }

  /*=============== NEW ===============*/

  .new__card {
    position: relative;
    width: 230px;
    background-color: #fff;
    box-shadow: 0 4px 16px hsla(355, 25%, 15%, 0.1);
    padding: 1rem 1rem 1.5rem;
    border-radius: 0.75rem;
    text-align: center;
    margin-bottom: 4rem;
    overflow: hidden;
    border: .6px solid rgb(59, 1, 55);
  }
  
  .new__overlay {
    width: 250px;
    height: 250px;
    background-color: rgb(254, 195, 118);
    border-radius: 50%;
    position: absolute;
    top: -5rem;
    left: -0.65rem;
    z-index: 0;
  }
  
  .new__img {
    position: relative;
    width: 150px;
    margin-bottom: var(--mb-2);
    transition: 0.3s;
  }
  
  .new__description {
    font-size: var(--h2-font-size);
  }
  
  .new__title {
    font-weight: var(--font-medium);
  }
  
  .new__button {
    display: flex;
    padding: 0.5rem;
    border-radius: 0.25rem 0.25rem 0.75rem 0.25rem;
    position: absolute;
    right: 0;
    bottom: 0;
  }
  
  .new__icon {
    font-size: 1.25rem;
  }
  
  .new__card:hover .new__img {
    transform: translateY(-0.5rem);
  }
  
  /*Class Swiper*/
  .swiper-pagination-bullet {
    background-color: var(--text-color);
  }
  
  .swiper-pagination-bullet-active {
    background-color: var(--first-color);
  }


/* events ends  */


/*=============== Contacts ===============*/

.contact {
  background-color: white;
}

.contact__container {
  row-gap: 3.5rem;
  
}

.contact__title {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: .5rem;
  font-size: var(--small-font-size);
  font-weight: var(--font-semi-bold);
  margin-bottom: 2.5rem;
}

.contact__title i {
  font-size: 1rem;
  font-weight: initial;
}

.contact__info,
.contact__data,
.contact__form {
  display: grid;
}


.contact__info {
  row-gap: 2rem;
}

.contact__data {
  row-gap: .75rem;
}

.contact__data .fa-whatsapp {
  color: green;
}


.contact__data-title {
  font-size: var(--small-font-size); /* change this */
  color: var(--text-color-light);
}

.contact__data-info {
  font-size: var(--small-font-size);
  font-family: var(--title-font);
  color: var(--title-color);
}

.contact__button {
  width: max-content;
  display: inline-flex;
  align-items: center;
  column-gap: .5rem;
  color: black;
  font-size: var(--small-font-size);
}


.contact__button i {
  font-size: 1rem;
  transition: transform .3s;
}


.contact__button:hover i {
  transform: translateX(.25rem);
}

.contact__form {
  position: relative;
  row-gap: 2rem;
}

.contact__form-div {
  position: relative;
  height: 4rem;
}

.contact__form-input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 2px solid var(--text-color-light);
  border-radius: 1.2rem;
  padding: 1.5rem;
  font-size: var(--normal-font-size);
  font-family: var(--title-color);
  background: none;
  outline: none;
  z-index: 1;
}

.contact__form-tag {
  position: absolute;
  top: -.85rem;
  left:1.23rem;
  z-index: 10;
  background-color: white;
  color: var(--title-color);
  font-size: var(--small-font-size);
  font-weight: var(--font-medium);
  padding: .35rem;
}

.contact__form-area {
  height: 10rem;
}

.contact__form-area textarea {
  resize: none;
}

.contact__form .contact__button {
  border: none;
  background: none;
  font-size: var(--h2-font-size);
  font-family: var(--title-font);
  font-weight: var(--font-semi-bold);
  cursor: pointer;
  outline: none;
  margin-top: .4rem;
}

.contact__form .contact__button i {
  font-size: 1.5rem;
}

.contact__message {
  font-size: var(--small-font-size);
  position: absolute;
  bottom: 2.8rem;
  left: 1.5rem;
}

/* Status color */
.color-red {
  color: hsl(4, 71%, 50%);
}

.color-blue {
  color: hsl(207, 56%, 45%);
}

.footer__container {
  /* background-color: var(--first-color);  FORM INCLUDING A MAP */
  padding: 3rem 0 7rem;
  text-align: center;
}

.footer__title {
  font-size: var(--h1-font-size);
  font-weight: var(--font-semi-bold);
  margin-bottom: 1rem;
}

.footer__list,
.footer__social {
  display: flex;
  justify-content: center;
}

.footer__list {
  margin: 2.5rem 0;
  column-gap: 2.5rem;
  list-style: none;
}

.footer__link {
  color: var(--title-color);
}

.footer__link:hover {
  text-decoration: underline;
}

.footer__social {
  column-gap: 1.25rem;
}

.footer__social-link {
  font-size: 1.25rem;
  color: var(--title-color);
  transition: transform .3s;
}

.footer__social-link:hover {
  transform: translateY(-.20rem);
}

.footer__copy {
  display: block;
  margin-top: 8.5rem;
  font-size: var(--smaller-font-size);
  color: var(--text-color-light);
}
