


@media screen and (max-width: 339px) {

    .header {
      padding: 1.1rem;
      border-bottom: var(--border);
      /* background-color: blue; */
    }
  
    .header .logo {
      font-size: 1.5rem;
      margin-left: 11px;
    }
  
    #menu-btn {
      display: inline-block;
      font-size: 1.4rem;
    }
  
    #menu-btn.fa-times {
      transform: rotate(180deg);
    }
  
  
    .header .nav a {
      margin: .5rem 0;
      font-size: 1.4rem;
    }
  
    .home .content p {
      line-height: 1.7;
      font-size: 1rem;
      padding: 1rem 0;
    }
  
    
    .heading h3 {
      font-size: 1.8rem;
      margin-top: 25px;   
      margin-bottom: 10px;
    }
  
    .about-content h2 {
      font-size: 1.4rem;
      margin-bottom: 15px;
    }
    
    .about-content p {
      line-height: 1.7;
      font-size: 1rem;
    }
  
    .services .heading h2 {
      font-size: 1.8rem;
      margin-top: 25px;   
      margin-bottom: 10px;
    }
  
    .services .box-container {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));
      gap: 2rem;
    }
    
    .services .box-container .box h2 {
      font-size: 1.4rem;
      color: var(--black);
      padding: 1rem 0;
      /* font-weight: bold; */
    }
  
    .services .box-container .box p {
      line-height: 1.7;
      font-size: 1rem;
      color: var(--black);
    }

    .jerican {
      margin-left: var(--mb-1);
      margin-right: var(--mb-1);
    }

    .area {
      margin-left: var(--mb-1);
      margin-right: var(--mb-1);
    }
  
    .countdown-timer {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

  
    .contact h2 {
      font-size: 1.8rem;
      margin-top: 25px;   
      margin-bottom: 2px;
    }
  
    .contact__title i {
      margin-top: 1.5rem;
      font-size: 1.4rem;
      color: rgb(54, 120, 54);
    }
  
  
    .contact__title span {
      margin-top: 1.5rem;
      font-size: 1.2rem;
      color: var(--black);
    }
  
  
    .contact__data .contact__data-title {
      font-size: 1.1rem;
      color: black;
    }
  
    .contact__data .contact__data-info {
      color: black;
      font-size: .8rem;
    }
  
    .contact {
      margin-bottom: 2rem;
    }

    .countdown-timer {
      display: grid;
      grid-template-columns: repeat(2, 1fr); /* Adjust column count as needed */
      grid-gap: 5px; /* Adjust as needed */
    }
  
  
    .footer__title {
      /* margin-top: 25px; */
      font-size: 1.4rem;
      color: black;
    }
  
    .footer__container p {
      color: black;
      font-size: .9rem;
    }
  
    .footer__list {
      margin: 2.5rem 0;
      column-gap: 2.3rem;
      font-size: .9rem;
      color: black
    }
  
    .footer__social-link i {
      font-size: 1.9rem;
    }
  
    .footer__copy {
      margin-top: 6.5rem;
      font-size: var(--smaller-font-medium);
      margin-bottom: 2rem;
    }
    
}
  
  
@media screen and (min-width: 340px) {
  
    .header {
      padding: 1.1rem;
      border-bottom: var(--border);
      /* background-color: blue; */
    }
  
    .home .content p {
      line-height: 1.7;
      font-size: 1rem;
      padding: 1rem 0;
    }
  
    .home .container .row .content .link-btn {
      padding: .9rem 1.2rem;
      border-radius: .5rem;
      background-color: var(--blue);
      cursor: pointer;
      font-size: 1.2rem;
      color: var(--white);
    }
  
    .heading h3 {
      font-size:  2.2rem;
      margin-top: 25px;   
      margin-bottom: 10px;
    }
  
    .about-content h2 {
      font-size: 1.5rem;
      margin-bottom: 15px;
    }
  
    .about-content p {
      line-height: 1.7;
      font-size: 1rem;
    }
  
  
    .services .heading h2 {
      font-size: 1.8rem;
      margin-top: 25px;   
      margin-bottom: 10px;
    }
  
    .services .box-container {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(14rem, 1fr));
      gap: 2rem;
    }
  
    .services .box-container .box h2 {
      font-size: 1.4rem;
      color: var(--black);
      padding: 1rem 0;
      /* font-weight: bold; */
    }
  
    .services .box-container .box p {
      line-height: 1.7;
      font-size: 1rem;
      color: var(--black);
    }

    .countdown-timer {
      display: grid;
      grid-template-columns: repeat(2, 1fr); /* Adjust column count as needed */
      grid-gap: 10px; /* Adjust as needed */
    }
  
  
  
    .contact h2 {
      font-size: 1.8rem;
      margin-top: 25px;   
      margin-bottom: 2px;
    }
  
    .contact__title i {
      margin-top: 1.5rem;
      font-size: 1.4rem;
      color: rgb(54, 120, 54);
    }
  
    .contact__title span {
      margin-top: 1.5rem;
      font-size: 1.5rem;
      color: var(--black);
    }
  
  
    .contact__data .contact__data-title {
      /* background-color: red; */
      font-size: 1.2rem;
      color: black;
    }
  
    .contact__data .contact__data-info {
      color: black;
      font-size: .8rem;
    }
  
    .contact {
      margin-bottom: 2rem;
    }
  
  
    .footer__title {
      /* margin-top: 25px; */
      font-size: 1.4rem;
      color: black;
    }
  
    .footer__container p {
      color: black;
      font-size: .9rem;
    }
  
    .footer__list {
      margin: 2.5rem 0;
      column-gap: 3rem;
      font-size: .9rem;
      color: black
    }
  
    .footer__social-link i {
      font-size: 1.9rem;
    }
  
  
    .footer__copy {
      margin-top: 6.5rem;
      font-size: var(--smaller-font-medium);
      margin-bottom: 2rem;
    }

}
  

  /* special */
  
@media screen and (min-width: 565px) {
  
    .services .box-container {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
      gap: 2rem;
    }
  
    .contact h2 {
      font-size: 1.8rem;
      margin-top: 25px;   
      margin-bottom: 2px;
    }
  
    .contact__title i {
      margin-top: 1.5rem;
      font-size: 1.4rem;
      color: rgb(54, 120, 54);
    }
  
    .contact__title span {
      margin-top: 1.5rem;
      font-size: 1.4rem;
      color: var(--black);
    }
  
    .contact__data .contact__data-title {
      /* background-color: red; */
      font-size: 1.2rem;
      color: black;
    }
  
    .contact__data .contact__data-info {
      color: black;
      font-size: .8rem;
    }

  .countdown-timer {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Adjust column count as needed */
    grid-gap: 10px; /* Adjust as needed */
  }
  

}
  
  /* special */
  
  
@media screen and (min-width: 576px) {
  
    .header {
      padding: 1.1rem;
      border-bottom: var(--border);
      /* background-color: blue; */
    }
  
    .header .logo {
      font-size: 1.4rem;
      margin-left: 12px;
    }
  
    .home .content p {
      line-height: 2;
      font-size: 1.2rem;
      padding: 1rem 0;
    }

    .message__input,
    .message__button {
      width: 60%;
    }
  
  .countdown-timer {
      /* background-color: #222; */
      display: flex;
      justify-content: space-around;
      flex-direction: row;
      align-items: center;
      margin-bottom: 2rem;
    }
  
  
    #menu-btn {
      font-size: 1.6rem;
    }    
  
    #menu-btn.fa-times {
      transform: rotate(180deg);
    }
    
    .header .nav a {
      margin: .5rem 0;
      font-size: 1.6rem;
    }
  
    .header .nav.active a {
      margin: .9rem 0;
      font-size: 1.6rem;
    }
  
    .heading h3 {
      font-size: 2.1rem;
      margin-top: 23px;   
      margin-bottom: 10px;
    }
  
    .about-content h2 {
      font-size: 1.9rem;
      margin-bottom: 15px;
    }
  
    .about-content p {
      line-height: 2;
      font-size: 1.2rem;
    }
  
  
    .services .heading h2 {
      font-size: 2.1rem;
      margin-top: 25px;   
      margin-bottom: 10px;
    }
  
    .services .box-container {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
      gap: 2rem;
    }
  
    .services .box-container .box h2 {
      font-size: 1.9rem;
      padding: 1rem 0;
    }
  
    .services .box-container .box p {
      line-height: 2;
      font-size: 1.2rem;
    }
  
  
    .contact h2 {
      font-size: 1.8rem;
      margin-top: 25px;   
      margin-bottom: 2px;
    }
  
    .contact__title i {
      margin-top: 1.5rem;
      font-size: 1.4rem;
      color: rgb(54, 120, 54);
    }
  
    .contact__title span {
      margin-top: 1.5rem;
      font-size: 1.4rem;
      color: var(--black);
    }
  
  
    .contact__data .contact__data-title {
      /* background-color: red; */
      font-size: 1.2rem;
      color: black;
    }
  
    .contact__data .contact__data-info {
      color: black;
      font-size: .8rem;
    }
  
    .contact {
      margin-bottom: 2rem;
    }
  
    .footer__title {
      /* margin-top: 25px; */
      font-size: 1.5rem;
      color: black;
    }
  
    .footer__container p {
      color: black;
      font-size: 1rem;
    }
  
    .footer__list {
      margin: 2.5rem 0;
      column-gap: 6rem;
      font-size: 1rem;
      color: black
    }
  
    .footer__social-link i {
      font-size: 1.9rem;
    }
  
    .footer__copy {
      margin-top: 6.5rem;
      font-size: var(--smaller-font-medium);
      margin-bottom: 2rem;
    }

    .discount__container {
        grid-template-columns: 420px;
        justify-content: center;
    }
  
}
  

  

@media (max-width:768px){
  
    section {
      padding: 3rem 1rem;
    }
  
    #menu-btn {
      margin-right: 1px;
      display: inline-block;
      transition: .2s linear;
    }
  
    #menu-btn.fa-times {
      transform: rotate(180deg);
    }
  
    .header .nav {
      position: absolute;
      top: 101%;
      left: 0;
      right: 0;
      background-color: var(--white);
      border-top: var(--border);
      border-bottom: var(--border);
      padding: 1rem 0;
      text-align: center;
      flex-flow: column;
      clip-path: polygon(0 0, 100% 0, 0 0);
      transition: .2s linear;
    }
  
    .header .nav.active a {
      margin: .4rem 0;
      font-size: 1.2rem;
    }
  
    .header .nav.active {
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }
  
    .header .nav a {
      margin: .5rem 0;
      font-size: 1rem;
    }
  
    .home {
      background-position: left;
    }
  
    .home .content {
      width: auto;
    }
  
    .heading {
      padding: 0px 20px;
    }
  
  
    .heading p {
        font-size: 1.2rem;
        margin-bottom: 0px;
    }
  
    .container {
        padding: 0px;
    }
  
    .about {
      padding: 20px;
      flex-direction: column;
    }
  
    .about-image {
        margin-right: 0px;
        margin-bottom: 20px;
    }
  
    /* .about-content p {
        padding: 0px;
        font-size: 1.2rem;
    } */
}
  
@media screen and (min-width: 768px) {
  
    .header {
      padding: .2rem;
      border-bottom: var(--border);
      /* background-color: greenyellow; */
    }
  
    .header .logo {
      font-size: 1.6rem;
      margin-left: 10px;
    }
   
    .header .nav a {
      margin: .8rem 0;
      font-size: 1.2rem;
      padding: 8px;
      margin-right: -6px;
    }
  
    .home .content p {
      line-height: 2;
      font-size: 1.1rem;
      padding: 1rem 0;
    }
  
    .container .row .content {
      margin-top: 2.5rem;
    }
  
    .heading .h3 {
        font-size: 2.2rem;
        margin-top: 5.7rem;   
        margin-bottom: 15px;
    }
  
    .about-content h2 {
      font-size: 1.8rem;
      margin-bottom: 12px;
    }
  
    .about-content p {
      line-height: 2;
      font-size: 1.1rem;
    }
  
  
    .about1 .container {
      margin-bottom: 9rem;
    }
  
  
    .services .heading h2 {
      font-size: 2.1rem;
      margin-top: 5.7rem;  
      margin-bottom: 10px;
    }
  
    .services .box-container {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(19.5rem, 1fr));
      gap: 2rem;
    }
  
    .services .box-container .box h2 {
      font-size: 1.8rem;
      padding: 1rem 0;
    }
  
    .services .box-container .box p {
      line-height: 2;
      font-size: 1.1rem;
    }
    
    .jerican {
      margin-left: var(--mb-1);
      margin-right: var(--mb-1);
    }

    .message__container {
      grid-template-columns: repeat(2, 1fr);
      align-items: center;
    }

  
    .contact h2 {
      font-size: 1.8rem;
      margin-top: 5.7rem;   
      margin-bottom: 2px;
    }
  
    .contact__title i {
      margin-top: 1.5rem;
      font-size: 1.4rem;
      color: rgb(54, 120, 54);
    }
  
    .contact__title span {
      margin-top: 1.5rem;
      font-size: 1.4rem;
      color: var(--black);
    }
  
  
    .contact__data .contact__data-title {
      /* background-color: red; */
      font-size: 1.2rem;
      color: black;
    }
  
    .contact__data .contact__data-info {
      color: black;
      font-size: .8rem;
    }
    
    .contact__container {
      display: grid;
      grid-template-columns: repeat(2, max-content);
      justify-content: center;
      column-gap: 7rem;
    }
  
    .contact__form {
      width: 360px;
    }
  
    .contact {
      margin-bottom: 2rem;
    }
  
  
    .footer__title {
      /* margin-top: 25px; */
      font-size: 1.5rem;
      color: black;
    }
  
    .footer__container p {
      color: black;
      font-size: 1rem;
    }
  
    .footer__list {
      margin: 2.5rem 0;
      column-gap: 8rem;
      font-size: 1rem;
      color: black
    }
  
    .footer__social-link i {
      font-size: 2rem;
      margin-top: 3rem;
    }
  
  
    .footer__copy {
      margin-top: 6.5rem;
      font-size: var(--smaller-font-medium);
      margin-bottom: 2rem;
    }
    
}
  
  
  
  
  /* For large devices */
  @media screen and (min-width: 1023px) {
  
    .header {
      padding: .2rem;
      border-bottom: var(--border);
      /* background-color: red; */
    }
  
    .header .logo {
      font-size: 1.3rem;
      margin-left: 10px;
    }
  
    .header .nav a {
      margin: .8rem 0;
      font-size: 1.2rem;
      padding: 7.4px;
    }
  
    .home .content {
      width: 39rem;
      padding: 1rem;
    }
  
    .home .content h3 {
      font-size: 2.5rem;
    }
  
    .home .content p {
      line-height: 2;
      font-size: 1.3rem;
    }
  
    .heading .h3 {
      font-size: 2.8rem;
      margin-top: 8rem;   
      margin-bottom: 15px;
    }
  
    .about-content h2 {
      font-size: 2rem;
      margin-bottom: 12px;
    }
  
    .about-content p {
      line-height: 2;
      font-size: 1.3rem;
    }
  
    .about1 .container {
      margin-bottom: 9rem;
    }
  
  
    .services .heading h2 {
      font-size: 2.5rem;
      margin-top: 8rem;  
      margin-bottom: 10px;
    }
  
    .services .box-container {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(19.5rem, 1fr));
      gap: 2rem;
    }
  
    .services .box-container .box h2 {
      font-size: 2rem;
      padding: 1rem 0;
    }
  
    .services .box-container .box p {
      line-height: 2;
      font-size: 1.3rem;
    }
  
  }
  
  @media screen and (min-width: 1048px) {
    .header {
      padding: .1rem;
      border-bottom: var(--border);
      /* background-color: grey; */
    }
  
    .header .logo {
      font-size: 1.4rem;
      margin-left: 10px;
    }
  
    .header .nav a {
      margin: .8rem 0;
      font-size: 1.2rem;
      padding: 8px;
    }
  
    .home .content p {
      line-height: 2;
      font-size: 1.3rem;
    }
  
    .heading .h3 {
      font-size: 2.8rem;
      margin-top: 8rem;   
      margin-bottom: 15px;
    }
  
    .about-content h2 {
      font-size: 2rem;
      margin-bottom: 12px;
    }
  
    .about-content p {
      line-height: 2;
      font-size: 1.3rem;
    }
  
    .about1 .container {
      margin-bottom: 9rem;
    }
  
    .services .heading h2 {
      font-size: 2.8rem;
      margin-top: 8rem;  
      margin-bottom: 10px;
    }
  
    .services .box-container {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(19.5rem, 1fr));
      gap: 2rem;
    }
  
    .services .box-container .box h2 {
      font-size: 2rem;
      padding: 1rem 0;
    }
  
    .services .box-container .box p {
      line-height: 2;
      font-size: 1.3rem;
    }

    .jerican {
      margin-left: auto;
      margin-right: auto;
    }
  
    .new__container {
        padding-top: 2rem;
    }

    .new__card {
      margin-bottom: 5rem;
    }

    .new__description {
      font-size: var(--h3-font-size);
    }


    .area {
      margin-left: auto;
      margin-right: auto;
    }
  
    .message__container {
      padding: 3.5rem 0;
      grid-template-columns: repeat(2, max-content);
      column-gap: 4rem;
      justify-content: center;
    }
  
    .message__div {
      text-align: initial;
    }
  
    .message__title {
      font-size: 1.5rem;
    }
  
    .message__input {
      display: block;
      width: 280px;
    }
  
    .message__button {
      width: initial;
    }
  
    .message__img {
      width: 320px;
    }

    .message__img {
      width: 270px;

    }


  
  }
  
  

  @media screen and (min-width: 1200px) {
  
    .header {
      padding: .1rem;
      border-bottom: var(--border);
      /* background-color: black; */
    }
  
    .header .logo {
      font-size: 1.7rem;
      margin-left: 10px;
    }
  
    .header .nav a {
      margin: .6rem 0;
      font-size: 1.1rem;
      padding: 10px;
    }
  
    .home .content {
      width: 45rem;
      padding: 1rem;
    }
  
    .home .content h3 {
      font-size: 2.6rem;
    }
  
    .home .content p {
      line-height: 2;
      font-size: 1.2rem;
    }
  
    .link-btn {
      display: inline-block;
      padding: 1rem 1rem;
      border-radius: .5rem;
      background-color: var(--blue);
      cursor: pointer;
      font-size: 2rem;
      color: var(--white);
    }
  
    .heading .h3 {
      font-size: 2.5rem;
      margin-top: 6rem;   
      margin-bottom: 28px;
    }
  
    .about-content h2 {
      font-size: 2rem;
      margin-bottom: 12px;
    }
  
    .about-content p {
      line-height: 1.8;
      font-size: 1.2rem;
    }
  
    .about1 .container {
      margin-bottom: 5rem;
    }
  
    .services .heading h2 {
      font-size: 2.1rem;
      margin-top: 6rem;  
      margin-bottom: 10px;
    }
  
    .services .box-container {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
      gap: 2rem;
    }
  
    .services .box-container .box h2 {
      font-size: 1.6rem;
      padding: 1rem 0;
    }
  
    .services .box-container .box p {
      line-height: 1.8;
      font-size: 1.2rem;
    }
  
    .services {
      margin-bottom: 5rem;
    }
  
  
    .contact h2 {
      font-size: 1.8rem;
      margin-top: 5.7rem;   
      margin-bottom: 2px;
    }
  
    .contact__title {
      margin-bottom: 3rem;
    }
  
    .contact__title i {
      margin-top: 1.5rem;
      font-size: 1.3rem;
      color: rgb(54, 120, 54);
    }
  
    .contact__title span {
      margin-top: 1.5rem;
      font-size: 1.4rem;
      color: var(--black);
    }
  
    .contact__info {
      row-gap: 3rem;
    }
  
    .contact__data .contact__data-title {
      font-size: 1.2rem;
      color: black;
    }
  
    .contact__data .contact__data-info {
      color: black;
      font-size: .9rem;
    }
  
    .contact__form {
      row-gap: 2.5rem;
    }
  
    .footer__container {
      padding: 4rem 0 3rem;
    }
  
    .footer__list {
      column-gap: 3rem;
      margin: 3rem 0;
    }
  
    .footer__social {
      column-gap: 2rem;
    }
  
    .footer__social-link {
      font-size: 1.5rem;
    }
  
    .footer__copy {
      margin-top: 5rem;
      margin-bottom: 1rem;
    }
  
  }

